.box {
  /* border: black 0.5px solid; */
  height: 400px;
  width: 300px;
  /* background: white; */
  text-align: center;
}
.box:hover {
  box-shadow: -2px 2px 5px gray, 2px -2px 5px gray;
}
.box h3 {
  padding: 0px 24px;
  margin-top: 25px;
  text-align: left;
}
.box p {
  padding: 0px 24px;
  text-align: left;
  font-size: 0.8em;
}
